.movie-carousel-poster {
  display: block;
  height: 250px;
  min-width: 150px;
  max-width: 650px;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.dummy-carousel-image {
  background-image: linear-gradient(
    90deg,
    rgba(lightgrey, 0) 0,
    rgba(lightgrey, 0.8) 50%,
    rgba(lightgrey, 0) 100%
  ) !important;
}

.carousel img {
  max-height: 300px;
  width: 1050px;
}

.loading.carousel-item {
  height: 250px;
}

.carousel {
  min-height: 80px;
  max-height: 300px;
  max-width: 1050px;
  margin: 0 auto;
}

header {
  margin: 30px 0;
  padding: 0 18px;
}
