.page-container {
  padding: 0px 48px;
  /* display: flex;
  justify-content: space-between; */
}

.single-btn {
  padding: 0px 70px;
}

.page-btn {
  cursor: pointer;
  border: 1px solid;
  outline: none;
  background-color: #fff;
  color: #343a40;
  display: inline-block;
  padding: 7px 15px;
  border-radius: 15px;
  font-size: 14px;
  margin: 0px 10px;
}

.page-btn:hover {
  color: white;
  background-color: #343a40;
}

@media screen and (max-width: 400px) {
  .page-btn {
    font-size: 12px;
    padding: 5px 12px;
  }
}
